# git rm --cached test.py
# git commit -m "Stop tracking test.py"
test.py
.idea

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

.venv/
venv/
env/

.ipynb_checkpoints/
.vscode/
.DS_Store
Thumbs.db

data/
results/*
!results/sample_outputs/
!results/sample_outputs/*.png

results_summary.csv
statistical_tests.csv

cv_splits/
cv_splits_100x/

*.png
*.jpg
*.jpeg
*.pdf

build/
dist/
*.egg-info/
*.log

OSCC_Development_Notes.md
